.top_nav_bar {
	width: 100%;
	height: 55px;
	min-width: 1050px;
	background-color: #282828;
	border-bottom: 5px solid  black;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: relative;
	z-index: 10;
	float: left;
}


.logo a {
	margin-left: 10px;
	padding-top: 0;
	font-size: 30px;
	position: relative;
	top: 1px;
}

.image {
	padding: 0;
	width: 150px;
	height: 58px;
}

nav {
	float: right;
	right: 100px;
	position: absolute;
	margin: 20px;
}

nav a {
	position: relative;
	color: white;
	font-size: 18px;
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
}

nav a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #000;
}

.little_profile {
	float: left;
	margin: 0 auto;
	top: 70px;
	position: relative;
	padding: 0 10px;
	min-width: 250px;
}

.column {
	background-color: #F0F0F0;
	padding: 10px;
	border: 1px solid #808080;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #808080;
	z-index: -1;
}

.user {
	margin-bottom: 20px;
	width: 100%;
	float: left;
}

.index_user {
	width: 125px;
	display: inline-block;
	position: absolute;
}

.user img {
	height: 125px;
	border-radius: 5px;
	margin-right: 5px;
}

.newsfeed {
	margin-top: 70px;
	top: 70px;
	float: right;
	width: 68%;
	z-index: -1;
	min-height: 160px;
	margin-right: 10%;
}

.create_post {
	width: 100%;
}

.create_post textarea {
	width: 80%;
	height: 60px;
	border-radius: 5px;
	margin-right: 5px;
	margin-top: 12px;
	border: 1px solid black;
	font-size: 12px;
}

#post_button {
	height: 80px;
	width: 120px;
	background-color: #000000;
	color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.big_profile {
	float: left;
	font-size: 20px;
	margin: 0 auto;
	top: 70px;
	position: relative;
	padding: 0 10px;
	width: 260px;
	height: auto;
	text-align: center;
}

.profile_info_p p {
	margin-top: 5px;
	margin-bottom: 5px;
}

#pro_img {
	margin-top: 40px;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	margin-bottom: 20px;
}

.profile_info_p {
	margin-top: 20px;
	text-decoration: none;
	margin-bottom: 40px;
}
.index_user_profile a {
	text-decoration: none;
}